<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="social"></div>
    <button id="scrollToTopBtn" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>

    <header>
        <div id="navbar"></div>
    </header>

    <main>

        <!-- landing sec -->
        <section id="landing_sec">
            <!-- landing sec content -->
            <div class="container">
                <div class="row">
                    <div id="landing_sec_col" class="col-sm-12">
                        <h6 id="subheading">CREATIVE MIND, CREATIVE WORKS.</h6>
                        <h1 id="heading">My Work & Personal<br /> Projects</h1>
                        <a href="#about_sec"><button id="lets_get_started">Lets Get Started</button></a>
                    </div>
                </div>
            </div>

            <div id="cards_con" class="container">
                <div class="row justify-content-center">
                    <!-- card 1 -->
                    <div id="landing_sec_cards" class="col-sm-12 col-md-6 col-lg-3">
                        <h6>
                            Problem Solver.
                            <i id="card-icon" class="fa-solid fa-paper-plane"></i>
                        </h6>
                        <p>
                            Web developers are adept problem solvers, utilizing coding
                            languages and frameworks to create efficient and innovative
                            solutions, addressing challenges and enhancing user experiences
                            on the internet.
                        </p>
                    </div>
                    <!-- card 2 -->
                    <div id="landing_sec_cards" class="col-sm-12 col-md-6 col-lg-3 center-card">
                        <h6>
                            Technology Integrators.
                            <i id="card-icon" class="fa-solid fa-lightbulb"></i>
                        </h6>
                        <p>
                            Web developers seamlessly integrate cutting-edge technologies,
                            marrying design and functionality. They play a pivotal role in
                            crafting digital landscapes that engage users, blending
                            creativity with technical prowess.
                        </p>
                    </div>
                    <!-- card 3 -->
                    <div id="landing_sec_cards" class="col-sm-12 col-md-6 col-lg-3">
                        <h6>
                            UI/UX Architects.
                            <i id="card-icon" class="fa-solid fa-earth-africa"></i>
                        </h6>
                        <p>
                            Web developers are architects of user experiences, prioritizing
                            intuitive design and functionality. Their expertise lies in
                            creating solutions that resonate with users, enhancing
                            accessibility, and driving online success.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects_sec">

            <div class="projects-container pt-5">
                <!-- canvas -->
                <img class="projectimg" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    src="https://i.postimg.cc/FFLJMYFx/Screenshot-2023-10-04-111447.png" />
                <!-- portfolio-1 -->
                <img class="projectimg" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                    src="https://i.postimg.cc/g0cz07rc/Screenshot-2023-09-05-115719.png" />

                <!-- portfolio2 -->
                <img class="projectimg" data-bs-toggle="modal" data-bs-target="#exampleModal3"
                    src="https://i.postimg.cc/GmYg63j6/Screenshot-2023-09-05-115058.png" />
                <!-- Roasted Beans -->
                <img class="projectimg" data-bs-toggle="modal" data-bs-target="#exampleModal4"
                    src="https://i.postimg.cc/cHq51Sms/Screenshot-2022-10-10-122005.png" />
                <!-- healthtracker -->
                <img class="projectimg" data-bs-toggle="modal" data-bs-target="#exampleModal5"
                    src="https://i.postimg.cc/zfpmdXcL/Screenshot-2022-11-01-142956.png" />
                <!-- we code -->
                <img class="projectimg" data-bs-toggle="modal" data-bs-target="#exampleModal6"
                    src="https://i.postimg.cc/dVdxYCR8/Screenshot-2023-11-21-123120.png" />

            </div>


            <!-- Modal1 -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Canvas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="image"
                                            src="https://i.postimg.cc/FFLJMYFx/Screenshot-2023-10-04-111447.png"
                                            width="100%" />
                                    </div>
                                    <div class="col-md-6">
                                        This canvas was created using html, css & js. Give it a try!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="vist_btns" data-bs-dismiss="modal">
                                <a class="" href="https://github.com/BEASTxk9/js-canvas" target="_blank">Github</a>
                            </button>
                            <button type="button" class="vist_btns">
                                <a class="" href="https://js-canvas-xk9.netlify.app/" target="_blank">Live</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal2 -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Advanced-simple Portdolio Template 1</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="image"
                                            src="https://i.postimg.cc/g0cz07rc/Screenshot-2023-09-05-115719.png"
                                            width="100%" />
                                    </div>
                                    <div class="col-md-6">
                                        This is a Advanced-simple portfolio that can be used as a template. It was
                                        created using HTML, CSS, BOOTSTRAP and simple JS.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="vist_btns" data-bs-dismiss="modal">
                                <a class="" href="
                https://github.com/BEASTxk9/Shane-Stevens_Vue-Portfolio" target="_blank">Github</a>
                            </button>
                            <button type="button" class="vist_btns">
                                <a class="" href="https://vue-portfolio-shane-stevens.web.app/" target="_blank">Live</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal3 -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel3">Full Stack</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="image"
                                            src="https://i.postimg.cc/GmYg63j6/Screenshot-2023-09-05-115058.png"
                                            width="100%">
                                    </div>
                                    <div class="col-md-6">
                                        This is a fullstack website create with php, wordpress and mysql.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button style="display:none;" type="button" class="vist_btns" data-bs-dismiss="modal"><a
                                    class=""
                                    href="https://github.com/BEASTxk9/MOCK-DIGITAL-PROFILE/blob/main/index.html"
                                    target="_blank">Github</a></button>
                            <button type="button" class="vist_btns"><a class=""
                                    href="https://dev-lime-wraps.pantheonsite.io/" target="_blank">Live</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal4 -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel4">Roasted Beans</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="image"
                                            src="https://i.postimg.cc/cHq51Sms/Screenshot-2022-10-10-122005.png"
                                            width="100%">
                                    </div>
                                    <div class="col-md-6">E-commerce site that allows you to sign up, login, view
                                        profile, add to cart etc...</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="vist_btns" data-bs-dismiss="modal"><a class=""
                                    href="https://github.com/BEASTxk9/E-commerce-shop-vue"
                                    target="_blank">Github</a></button>
                            <button type="button" class="vist_btns"><a class=""
                                    href="https://roasted-beans-b99e0.web.app/" target="_blank">Live</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal5 -->
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel5">Health Tracker App</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="image-fluid"
                                            src="https://i.postimg.cc/zfpmdXcL/Screenshot-2022-11-01-142956.png"
                                            width="100%" height="100%">
                                    </div>
                                    <div class="col-md-6">This Health Tracker was created using Vuetify.</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="vist_btns" data-bs-dismiss="modal"><a class=""
                                    href="https://github.com/BEASTxk9/vuetify-heathtracker"
                                    target="_blank">Github</a></button>
                            <button type="button" class="vist_btns">
                                <a class="" href="https://shanestevens-healthtracker.netlify.app/#/"
                                    target="_blank">Live</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal6 -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel6">We Code (Website template)</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="image-fluid"
                                            src="https://i.postimg.cc/dVdxYCR8/Screenshot-2023-11-21-123120.png"
                                            width="100%" height="100%">
                                    </div>
                                    <div class="col-md-6">
                                        This projects was created using HTML, CSS, & JS. It is a simple website
                                        template.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="vist_btns" data-bs-dismiss="modal"><a class=""
                                    href="https://github.com/BEASTxk9/WE-CODE" target="_blank">Github</a></button>
                            <button type="button" class="vist_btns"><a class=""
                                    href="https://we-code-template.netlify.app/" target="_blank">Live</a></button>
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </main>

    <footer>
        <div id="footer"></div>
    </footer>



    <script src="../ASSETS/js/main.js"></script>

</body>

</html>