<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div id="social"></div>
<button id="scrollToTopBtn" onclick="scrollToTop()"><i class="fa-solid fa-angle-up"></i></button>
    
    <header>
            <div id="navbar"></div>
    </header>

    <main>

<!-- landing sec -->
<section id="landing_sec">
    <!-- landing sec content -->
    <div class="container">
      <div class="row">
        <div id="landing_sec_col" class="col-sm-12">
          <h6 id="subheading">CREATIVE MIND, CREATIVE WORKS.</h6>
          <h1 id="heading">My Work & Personal<br/> Projects</h1>
          <a href="#about_sec"><button id="lets_get_started">Lets Get Started</button></a>
        </div>
      </div>
    </div>

    <div id="cards_con" class="container">
      <div class="row justify-content-center">
        <!-- card 1 -->
        <div id="landing_sec_cards" class="col-sm-12 col-md-6 col-lg-3">
          <h6>
            Problem Solver.
            <i id="card-icon" class="fa-solid fa-paper-plane"></i>
          </h6>
          <p>
            Web developers are adept problem solvers, utilizing coding
            languages and frameworks to create efficient and innovative
            solutions, addressing challenges and enhancing user experiences
            on the internet.
          </p>
        </div>
        <!-- card 2 -->
        <div id="landing_sec_cards" class="col-sm-12 col-md-6 col-lg-3 center-card">
          <h6>
            Technology Integrators.
            <i id="card-icon" class="fa-solid fa-lightbulb"></i>
          </h6>
          <p>
            Web developers seamlessly integrate cutting-edge technologies,
            marrying design and functionality. They play a pivotal role in
            crafting digital landscapes that engage users, blending
            creativity with technical prowess.
          </p>
        </div>
        <!-- card 3 -->
        <div id="landing_sec_cards" class="col-sm-12 col-md-6 col-lg-3">
          <h6>
            UI/UX Architects.
            <i id="card-icon" class="fa-solid fa-earth-africa"></i>
          </h6>
          <p>
            Web developers are architects of user experiences, prioritizing
            intuitive design and functionality. Their expertise lies in
            creating solutions that resonate with users, enhancing
            accessibility, and driving online success.
          </p>
        </div>
      </div>
    </div>
</section>

<section id="projects_sec">

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="card_header"></div>
                <h4></h4>
                <h6 id="sub_heading">Stellenbosch Bussiness School</h6>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>

        </div>
    </div>

</section>

    </main>

    <footer>
        <div id="footer"></div>
    </footer>



<script src="../ASSETS/js/main.js"></script>

</body>
</html>