@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');


nav{
    width: 100%;
    padding: 10px;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
}

#navbar_logo_a{
text-decoration: none;
}


#navbar_logo, .navbar_toggle{
    font-size: 2rem;
    font-weight: 900;
    color: var(--tx-secondary);
    mix-blend-mode: difference;
    z-index: 4000;
}





.navbar_toggle{
position: fixed;
right: 15px;
border: none !important;
color: var(--tx-secondary);
mix-blend-mode: difference;
background-color: transparent !important;
}


/* navbar content */
.offcanvas{
background-color: white;
color: var(--tx-secondary);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}


.offcanvas-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.offcanvas-body a{
    color: var(--tx-primary);
    text-decoration: none;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.offcanvas a{
    border: var(--btn_border);
    width: 50%;
}